.background {
  background: url("https://img.freepik.com/premium-photo/hyper-car-neon-background-generated-ai-streamline-test-modern-car-design-diffuse-plastic-optic-some-glowing-contours-illuminate-car-details-dark-scene-cinematic-lightning_620624-7604.jpg?w=2000")
    no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 550px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.218);
  border-radius: 20px;
  overflow: hidden;
}
.title {
  display: flex;

  align-items: center;
  margin-bottom: 30px;
}
.logo-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 400ms;
  &:hover {
    transform: scale(1.1);
  }
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  color: #fff;
  background-color: transparent;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item .logo {
 
  font-size: 30px;
  &>span{
    color: #fd9644;
  }
}
.text-item {
  font-size: 40px;
  line-height: 1;
}
.text-item {
    &>p{
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  line-height: 2rem;
    }
    &>h2{
        color: #fd9644;
    }
}
.social-icon a {
  font-size: 24px;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  &:hover {
    transform: scale(1.2);
  }
}
.login-section {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(42%);
  height: 100%;
  color: #fff;
}
.form-box-register{
  transform: translateX(490px);
  transition: transform .6s ease;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.form-box-register-active{
  transform: translateX(0px);
  transition: transform .6s ease;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
 
}
.form-box-login{
  transform: translateX(0px);
  transition: transform .6s ease;
  transition-delay: 0s;
}

.form-box-login-active{
  transform: translateX(490px);
  transition: transform .6s ease;
  transition-delay: 0s;
  position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
  
}
.form-box-login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form-box {
  & > h2 {
    text-align: center;
    font-size: 25px;
  }
}
.input-box {
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #fff;
  padding: 30px 0;
  position: relative;
}
input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding-right: 28px;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.input-box {
  & > label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-30%);
    font-size: 16px;
    font-weight: 600;
    pointer-events: none;
    transition: 0.5s ease;
  }
}

.input-box {
  margin-top: 20px;
  & > span {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
    padding-right: 28px;
    transition: 0.5s ease;
    transform: translateY(-30%);
  }
}

.input-box:hover{
  & > label {
    top: -3px;
  }
  & > span {
    top: -3px;
  }
}

.remember-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}
.remember-password {
  & > input {
    accent-color: #fff;
    margin-right: 3px;
  }
}
.remember-password {
  & > a {
    color: #fff;
    text-decoration: none;
  }
  & > a:hover {
    text-decoration: underline;
  }
}
.btn {
  background-color: #fd9644;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 45px;
  cursor: pointer;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4);
  margin: 20px 0px;
}
.create-account {
  font-size: 14.5px;
  text-align: center;
  margin: 25px;
}
.create-account {
  & > a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
  & > p {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
  & > a:hover {
    text-decoration: underline;
  }
}


