.btn-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    color: #333;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .items {
    display: grid;
    cursor: pointer;
    &:hover {
      color: #333;
      background-color: #fd9644;
    border-radius: 15px;
    }
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 3px;
    width: 70px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #333;
    height: 40px;
    &:hover {
      color: #333;
      background-color: #fd9644;
    
    }
  }
  .btn-log {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
  
  
    &:hover .user {
      display: flex !important;
      color: #ff9950;
    }
  }
  .user {
    position: absolute;
    display: none !important;
    left: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    width: fit-content;
    padding: 10px;
  
    border-radius: 3px;
    & span {
      margin-bottom: 2px;
      margin-right: 3px;
    }
  }
  .user-login,
  .user-register, .btn-logout {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    &:hover {
      color: #ff9950;
    }
  }
  
  .btn-user {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    text-decoration: none;
  
    &:hover {
      color: #ff9950;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    &:hover {
      color: #ff9950;
    }
  }
  
  .icon-nav {
    font-size: 25px;
    color: #343434;
  }
  .nav-search {
    display: flex;
    align-items: center;
  }
 
  